# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
/.project

# Latex
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
report/*.dat
_*.gnu


battle_ammo_diffusion.png
battle_phase_plane.png
battle_reaction.png
_gentlemans_battle.dat
